{% extends "layout.html" %}
{% block title %}
<title>Analytics Dashboard</title>
{% endblock %}

{% block body %}

<div class="columns" style="flex: 1;">
  <div class="column is-one-quarter">
    <p class="title">Dashboard</p>
    <p><button class="button is-dark" onclick="readDDESpec()">DDE Spec</button></p>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="content">
        <p class="title has-text-white is-2">JSON Spec:</p>
        <textarea cols="80" rows="20" id="modal-spec"></textarea>
        <p id="other-spec">foo bar</p>
       </div>
      </div>
      <button class="modal-close"></button>
    </div>
  </div>
  <div class="column">
    <div id="ddeDashboard"></div>
  </div>
</div>

{% endblock %}
{% block extra_javascripts %}
<script src="https://dde-us-south.analytics.ibm.com/daas/CognosApi.js"></script>
<script src="{{ url_for('static', filename='dashboard.js')}}"></script>
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
<script>
  window.onload=newDDESession();

  function readDDESpec() {
    window.dashboardAPI.getSpec().then(function(spec){
            console.log("Got the spec");
            $('#modal-spec').val(JSON.stringify(spec));
            $('#other-spec').val("All loaded");
            $(".modal").addClass("is-active");
  });
};




  $(".modal-close").click(function() {
     $(".modal").removeClass("is-active");
  });

</script>
{% endblock %}
