{% extends "layout.html" %}
{% block title %}
<title>GitHub Traffic Analytics - Dashboard</title>
{% endblock %}

{% block body %}
<div class="columns" style="flex: 1;">
  <div class="column is-one-quarter">
    <p class="title">Dashboard</p>
    <p>Daily statistics for all repositories.</p>
  </div>
  <div class="column">
    <div id="ddeDashboard"></div>
  </div>
</div>

{% endblock %}
{% block extra_javascripts %}
<script src="https://dde-us-south.analytics.ibm.com/daas/CognosApi.js"></script>
<script src="{{ url_for('static', filename='dashboard.js')}}"></script>
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
<script>
  window.onload=cannedDDESession();
</script>
{% endblock %}
