{% extends "layout.html" %}
{% block title %}
<title>Traffic Data</title>
{% endblock %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $('#repotraffic').DataTable();
</script>
<div id="main" class="container">
    <h2 class="title is-2">Repo Traffic</h2>
    <table id="repotraffic" class="table table-bordered table is-striped" summary="Table with repository views">
      <tr>
        <th>#
        <th>Org
        <th>Repo
        <th>Date
        <th>viewcount
        <th>clonecount
      {%- for item in items %}
      <tr>
        <td>{{ item.rid }}
        <td>{{ item.username }}
        <td>{{ item.rname }}
        <td>{{ item.tdate }}
        <td>{{ item.viewcount }}
        <td>{{ item.clonecount }}
      {%- endfor %}
    </table>
</div>
{% endblock %}
