<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		 {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		{% block extra_stylesheets %} {% endblock %}
  </head>

<body class="Site">
	<nav class="navbar is-light">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="https://cloud.ibm.com/docs/solution-tutorials/">
	      <strong>TUTORIALS</strong>
	    </a>
	    <div class="navbar-burger burger" data-target="navbarTop">
	      <span></span>
	      <span></span>
	      <span></span>
	    </div>
	  </div>

	  <div id="navbarTop" class="navbar-menu">
	    <div class="navbar-start">
				{% if startpage is not defined %}
	      <div class="navbar-item has-dropdown is-hoverable">
	          <a class="navbar-link" href="">Repositories</a>
	        <div class="navbar-dropdown is-boxed">
	          <a class="navbar-item" href="/repos/list">
	            List / Add / Remove
	          </a>
	          <a class="navbar-item" href="/repos/stats">
	            Daily Traffic
	          </a>
              <a class="navbar-item" href="/repos/statsweekly">
	            Weekly Traffic
			  </a>
			  <a class="navbar-item" href="/repos/linechart">
	            Line Chart
	          </a>
	          <hr class="navbar-divider">
	          <a class="navbar-item" href="/data/repostats.csv">
	            repostats.csv
	          </a>
						<a class="navbar-item" href="/data/repositories.csv">
	            repositories.csv
	          </a>
	        </div>
	      </div>
				<div class="navbar-item has-dropdown is-hoverable">
	          <a class="navbar-link" href="">Administration</a>
	        <div class="navbar-dropdown is-boxed">
	          <a class="navbar-item" href="/admin/systemlog">
	            System log
			  </a>
	          <a class="navbar-item" href="/admin/collectStats">
	            Collect statistics
	          </a>			  
	          <a class="navbar-item" href="/admin/newtenant">
	            New tenant
	          </a>
	        </div>
	      </div>
				<div class="navbar-item has-dropdown is-hoverable">
	          <a class="navbar-link" href="">User</a>
	        <div class="navbar-dropdown is-boxed">
						<a class="navbar-item" href="/user/profile">
	            Profile
	          </a>
	          <a class="navbar-item" href="/logout">
	            Logout
	          </a>
	        </div>
	      </div>
				{% endif %}
	    </div>

	    <div class="navbar-end">
	      <div class="navbar-item">
	        <div class="field is-grouped">
	          <p class="control">
            <a href="https://github.com/IBM-Cloud/github-traffic-stats">
							<span class="icon" style="color: #333;">
          			<i class="fab fa-lg fa-github"></i>
        			</span>
			       </a>
          	</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</nav>

	<div class="Site-content container-fluid">
		{% block body %}{% endblock %}
	</div>
	<footer class="footer">
			<div class="content has-text-centered">
				<a href="http://www.ibm.com/cloud/">IBM Cloud</a>
				  &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
				<a href="https://cloud.ibm.com/docs/tutorials/">IBM Cloud Docs - Solution Tutorials</a>
	 		</div>
	</footer>

		{% block extra_javascripts %} {% endblock %}


<script>
	document.addEventListener('DOMContentLoaded', function () {
  	// Get all "navbar-burger" elements
  	var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  	// Check if there are any navbar burgers
  	if ($navbarBurgers.length > 0) {
    	// Add a click event on each of them
    	$navbarBurgers.forEach(function ($el) {
      	$el.addEventListener('click', function () {
        	// Get the target from the "data-target" attribute
        	var target = $el.dataset.target;
        	var $target = document.getElementById(target);

        	// Toggle the class on both the "navbar-burger" and the "navbar-menu"
        	$el.classList.toggle('is-active');
        	$target.classList.toggle('is-active');
      	});
    	});
  	}
});
</script>
</body>
</html>
