{% extends "layout.html" %}
{% block title %}
<title>Profile - GitHub Traffic Analytics</title>
{% endblock %}


{% block body %}
<div id="main" class="container">
    <h2 class="title is-2">User profile</h2>
    <div class="box">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Name</p>
          <p class="title">{{ id['name'] }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Email</p>
          <p class="title">{{ id['email'] }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Role (int)</p>
          <p class="title">{{ role }}</p>
        </div>
      </div>
      <br/>

    </nav>
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Administrator</p>
          <p class="title">{% if role is odd %}Yes{% else %}No{% endif %}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">System Maintainer</p>
          <p class="title">{% if (role//2) is odd %}Yes{% else %}No{% endif %}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tenant</p>
          <p class="title">{% if ((role//2)//2) is odd %}Yes{% else %}No{% endif %}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tenant Viewer</p>
          <p class="title">{% if (((role//2)//2)//2) is odd %}Yes{% else %}No{% endif %}</p>
        </div>
      </div>
    </nav>
  </div>
</div>
{% endblock %}
