{% extends "layout.html" %}
{% block title %}
<title>Your Repositories - Github Traffic Analytics</title>
{% endblock %}

{% block extra_stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/css/dataTables.bulma.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div id="main" class="container">
    <h2 class="title is-2">Your Repositories</h2>
    <table id="repolist" class="table table-bordered table-hover dt-responsive" summary="List of your repositories">
      <thead>
      <tr>
        <th>ID</th>
        <th>Organisation</th>
        <th>Repository</th>
      </thead>
      <tbody>
      {%- for repo in repos %}
      <tr id="{{ repo.rid }}">
        <td>{{ repo.rid }}</td>
        <td>{{ repo.orgname }}</td>
        <td>{{ repo.reponame }}</td>
      {%- endfor %}
    </tbody>
    </table>


<div class="tile is-ancestor">
  <div class="tile is-parent">
   <div class="tile is-child box">
  <form action="" name="newrepo">
    <div class="field">
      <label class="label">Add repository</label>
      <div class="control">
        <input class="input" type="text" name="orgname" id="orgname" placeholder="organisation">
        <input class="input" type="text" name="reponame" id="reponame" placeholder="repository">
      </div>
    </div>


    <div class="field">
      <div class="control">
        <input type="submit" class="button  is-link" type="submit" onclick="return addRepo()" value="Add repository">
      </div>
    </div>
  </form>
</div>
 <div class="tile box">
  <form action="" name="deleterepo">
    <div class="field">
      <label class="label">Delete repository</label>
      <div class="control">
        <input class="input" type="text" name="repoid" id="repoid" placeholder="ID">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input type="submit" class="button  is-link" type="submit" onclick="return deleteRepo()" value="Delete repository">
      </div>
    </div>
  </form>
</div>
</div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child is-vertical box">
      <div id ="messageResult" style="display:none;">
        <pre id="plogmessage"></pre>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block extra_javascripts %}
<script src="{{ url_for('static', filename='ghstats.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
<script>
    $('#repolist').DataTable();
</script>
{% endblock %}
