{% extends "layout.html" %}
{% block title %}
<title>Traffic Data</title>
{% endblock %}

{% block extra_stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/css/dataTables.bulma.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info" href="/">Home</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="/repos/stats">Repositories</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="/admin">Administration</a>
  </p>
</nav>
<div id="main" class="container">
    <h2 class="title is-2">Repo Traffic</h2>
    <table id="repotraffic" class="table table-bordered table is-striped" summary="Table with repository views">
      <thead>
      <tr>
        <th>#</th>
        <th>Org</th>
        <th>Repo</th>
        <th>Date</th>
        <th>viewcount</th>
        <th>view uniques</th>
        <th>clonecount</th>
        <th>clone uniques</th>
      </tr>
      </thead>
      <tbody>
      {%- for item in stats %}
      <tr>
        <td>{{ item.rid }}</td>
        <td>{{ item.orgname }}</td>
        <td>{{ item.reponame }}</td>
        <td>{{ item.tdate }}</td>
        <td>{{ item.viewcount }}</td>
        <td>{{ item.vuniques }}</td>
        <td>{{ item.clonecount }}</td>
        <td>{{ item.cuniques }}</td>
      </tr>
      {%- endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
{% block extra_javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables-bulma@1.0.1/js/dataTables.bulma.min.js"></script>
<script>
    $('#repotraffic').DataTable({"order": [[ 3, "desc" ], [ 0, 'asc' ]]});
</script>
{% endblock %}
